<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> addProfile </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <script type = "text/javascript" src = "addProfile.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
</head>
<!--ng-app="myApp" ng-init="init()"-->
<body  ng-controller ="addProfileCtrl" >

<div class="container" style="padding-top: 60px;">
    <h1 class="page-header">Add Profile</h1>
    <div class="row">
        <!-- left column -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                <!--<img class="img-responsive" src="person_image.jpg" alt="person_image"> -->
                <!--<img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar"> -->
                <img src="Person_image.jpg"  alt="image" class="avatar img-circle img-thumbnail">
               <!-- <img class="img-responsive" src="img_chania.jpg" alt="Chania" width="460" height="345"> -->
                <h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block well well-sm">
                <span></span>
                <input class="btn btn-primary" value="Submit" type="button">
            </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">

            <h3>Personal info
                <input class="btn btn-primary" value="Edit" type="button" style="float: right">
            </h3>

<!--FORM  ng-submit="AddProfile()"-->
            <form editable-form novalidate id = "profileForm" class="form-horizontal" role="form"  ng-init = init()>
                <fieldset>
                <div class="form-group">
                    <!--<label for = "Name" class="col-lg-3 control-label">Name </label>-->
                    <label class="col-lg-3 control-label">Name: </label>
                    <div class="col-lg-8">
                        <!--<input id = "Name" class="form-control" value="Ashwini" type="text">-->
                        <input type="text" class="form-control" ng-model="user.Name" value="your Name" >

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Interests: </label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="user.Interests" value="Volleyball, Swimming" >
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Address:</label>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Street:</label>
                    <div class="col-lg-8">
                        <input class="form-control" ng-model="user.Street" value="160 Locksunart Way" type="text">
                    </div>
                </div>

                <div class="form-group">
                        <label class="col-lg-3 control-label">City:</label>
                        <div class="col-lg-8">
                            <input class="form-control" ng-model="user.City" value="Sunnyvale" type="text">
                        </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">State:</label>
                    <div class="col-lg-8">
                        <input class="form-control" ng-model="user.State" value="California" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Country:</label>
                    <div class="col-lg-8">
                        <input class="form-control" ng-model="user.Country" value="USA" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Zip:</label>
                    <div class="col-lg-8">
                        <input class="form-control" ng-model="user.Zip" value="94087" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label"></label>
                    <div class="col-lg-8">
                       <!-- The ngClick directive allows you to specify custom behavior when an element is clicked.-->
                        <!--<input type="submit" class="btn btn-primary" ng-click="update(name)" value="Submit" >
                         <input type="button" class="btn btn-default" ng-click="reset()" value="Reset" > -->
                        <input type="submit" class="btn btn-primary" ng-click="update(user)" ng-disabled="editableForm.$waiting" value="Submit" >
                        <input type="button" class="btn btn-default" ng-click="resetForm()" value="Reset" >
                    </div>
                </div>

            </fieldset>
                <pre> form = {{user|json}}</pre>
                <pre> master = {{master|json}}</pre>

            </form>

        </div>
    </div>
</div>



</body>
</html>

