<div  ng-controller ="addProfileCtrl"  class="container">
    <h1 class="page-header">My Profile</h1>
    <div class="row" name="1">
        <!-- left column -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center" name ="picDiv">
               <!--image upload-->
                <h6 ng-hide="newProfileImageData"> Upload a Photo...   </h6>
                <!--accept="image/*" specify that the server accepts only image files in the file upload-->
                <!--<input type="file"  ngf-select="" ng-model="ImageData" name="newProfileImageData" accept="image/*" class="text-center center-block well well-sm" required="">-->
                <img style="max-width: 80%; " alt="" ng-src="{{ newProfileImageData }}" ng-show="newProfileImageData" alt="image" />
                <span></span>

                <!--ng-disabled="!picDiv.name.$valid"-->
                <button  ng-click="uploadFile()" class="btn btn-primary"  ng-hide="disableEdit"> Upload Image</button>
            </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">

            <h3>Personal Info
                <input class="btn btn-primary"  value="Edit" ng-click="editProfile()" ng-disabled= "!disableEdit" type="button" style="float: right">
            </h3>

<!--FORM  ng-submit="AddProfile()"  ng-init = init()-->
            <form  novalidate id = "profileForm" class="form-horizontal" role="form"  >
                <fieldset>
                <div class="form-group">
                    <!--<label for = "Name" class="col-lg-3 control-label">Name </label>-->
                    <label class="col-sm-3 control-label">Name: </label>
                    <div class="col-sm-8">
                        <!--<input id = "Name" class="form-control" value="Ashwini" type="text">-->
                        <!--input type="text" class="form-control" ng-model="user.Name" value=" " >-->
                        <input type="text" class="form-control" ng-model="user.Name"  ng-disabled= "disableEdit">

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Interests: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="user.Interests" value=" " ng-disabled= "disableEdit">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Address:</label>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Street:</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="user.Street" value=" " type="text" ng-disabled= "disableEdit">
                    </div>
                </div>

                <div class="form-group">
                        <label class="col-sm-3 control-label">City:</label>
                        <div class="col-sm-8">
                            <input class="form-control" ng-model="user.City" value=" " type="text" ng-disabled= "disableEdit" >
                        </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">State:</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="user.State" value=" " type="text" ng-disabled= "disableEdit">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Country:</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="user.Country" value=" " type="text" ng-disabled= "disableEdit" >
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Zip:</label>
                    <div class="col-sm-8">
                        <input class="form-control" ng-model="user.Zip" value=" " type="text" ng-disabled= "disableEdit">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-8">
                       <!-- The ngClick directive allows you to specify custom behavior when an element is clicked.-->
                        <!--<input type="submit" class="btn btn-primary" ng-click="update(name)" value="Submit" >
                         <input type="button" class="btn btn-default" ng-click="reset()" value="Reset" > -->
                       <input type="submit" class="btn btn-primary" ng-click="update(user)" ng-disabled="!visibleSubmit" value="Submit" >
                        <!--<input type="button" class="btn btn-default" ng-click="resetForm()" ng-disabled="!visibleReset" value="Reset" >-->

                    </div>
                </div>

            </fieldset>
                <!--
                <pre> </pre> <li ng-repeat="item in list | filter:name">{{ item | json }}</li> </form> </pre>
                <pre> form = {{user|json}}</pre>
                <pre> master = {{master|json}}</pre>
                -->


            </form>

        </div>
    </div>
</div>

