<p> Hello {{ name }} <a ng-click="facebook_logout()">Log out</a></p>

<div  ng-controller ="blockUserCtrl"  class="container" style="padding-top: 60px;">
    <h1 class="page-header">View Profile</h1>
    <div class="row" name="1">
        <!-- left column -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center" name ="picDiv">
                <img style="max-width: 80%; " alt="" ng-src="{{ newProfileImageData }}" ng-show="newProfileImageData" alt="image" ng-disabled= "disableEdit"/>
            </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">

            <h3>Personal Info

            </h3>

            <!--FORM  ng-submit="AddProfile()"  ng-init = init()-->
            <form  novalidate id = "profileForm" class="form-horizontal" role="form"  >
                <fieldset>
                    <div class="form-group">

                        <label class="col-sm-3 control-label">Name: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control"  ng-model="Name" ng-disabled= "disableEdit">
                        </div>
                    </div>



                </fieldset>

            </form>

        </div>
    </div>
</div>

