<div class="container">
    <br>
    <h1><b>  My Friends</b></h1>
    <br>
    <div class="row">
        <div class="span12">
            <ul class="thumbnails">


                <div class="thumbnail clearfix">

                        <img src="http://placehold.it/100x100" alt="ALT NAME" class="pull-left span2 clearfix" style='margin-right:10px'>
                        <div class="caption" class="pull-left">
                            <a  class="btn btn-danger  btn-lg glyphicon glyphicon-ban-circle pull-right" ng-href="#/blockUser/Pranav.Bhatt@gmaildotcom" title="Block"></a>
                            <!--<div class="col-xs-12 col-sm-6 col-lg-8"><Strong> <a ng-href= "#/blockUser/{{user.$id}}">{{user.Name}}</a> </Strong></div>-->
                            <h4>
                                <a href="#/viewProfile" >Pranav Bhatt</a>
                            </h4>
                        </div>

                </div>



                <div class="thumbnail clearfix">

                        <img src="http://placehold.it/100x100" alt="ALT NAME" class="pull-left span2 clearfix" style='margin-right:10px'>
                        <div class="caption" class="pull-left">
                            <a  class="btn btn-danger  btn-lg glyphicon glyphicon-ban-circle pull-right" href="#" title="Block"></a>
                            <div class="col-xs-12 col-sm-6 col-lg-8"><Strong> <a ng-href= "#/blockUser/{{user.$id}}">{{user.Name}}</a> </Strong></div>
                            <h4>
                                <a href="#/viewProfile" >Advait Chandrakant Nalage</a>
                            </h4>
                        </div>

                </div>


                <div class="thumbnail clearfix">

                        <img src="http://placehold.it/100x100" alt="ALT NAME" class="pull-left span2 clearfix" style='margin-right:10px'>
                        <div class="caption" class="pull-left">
                            <a  class="btn btn-danger  btn-lg glyphicon glyphicon-ban-circle pull-right" href="#" title="Block"></a>
                            <div class="col-xs-12 col-sm-6 col-lg-8"><Strong> <a ng-href= "#/blockUser/{{user.$id}}">{{user.Name}}</a> </Strong></div>
                            <h4>
                                <a href="#/viewProfile" >Charu Sharma</a>
                            </h4>
                        </div>

                </div>

               </ul>
        </div>
    </div>
</div>