<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>AngularJS & Firebase Web App</title>

    <link href="/bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet">
    <!--<link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">-->

    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
   
    <link href="/app/QF_controllers/justified-nav.css" rel="stylesheet">
    
  </head>

  <body ng-controller="LoginCtrl">

    <div class="container">
      <div class="jumbotron" style="padding-bottom:0px;">
        <h2>FriendQuick</h2>
      </div>

        <div class="text-center">
            <h4> Login with</h4>

            <button class="btn btn-facebook" ng-click="facebook_login('/home')"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
        </div>
        <!--<div class="text-center">-->
            <!--<button type="button" ng-click="facebook_login()" class="btn btn-lg btn-social-icon btn-facebook">Facebook</button>-->
        <!--</div>-->

    </div>

  

</body></html>
